.containerProfile {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 50px;
}

.bgReceitas{
  h2{
    text-align: center;
    font-size: 50px;
    color: white;
    margin-bottom: 50px;
  }
  height: auto;
  padding: 30px 10px;
}

.saudacoes {
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 20px;
  height: auto;
  h2 {
    font-size: 50px;
  }
}

.tab {
  color: black;
  font-weight: 600;
  background-color: #b82121;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.profileUser {
  font-size: 30px;
  padding: 30px 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2{
    text-align: center;
    font-size: 50px;
    color: white;
    margin-bottom: 50px;
  }
}

.middleContainerProfile {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.divRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footerEdit {
  background-color: #b82121;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  margin-top: 40px;
  padding-top: 30px;
  border-top: 1px solid white;
}

.buttonEditCadastro {
  border-radius: 50px;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 5px 15px;
  background-color: #b82121;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.buttonEditCadastro:hover {
  background-color: white;
  color: #b82121;
  cursor: pointer;
}

.dado {
  font-weight: 50;
  margin-left: 2%;
  color: white;
}

.receitas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-items: center;
}
